<h4>Hi, <%= @user.name %>!</h4>

<p>
  If you requested a reset for [<%= @user.name %>], click the URL below.
</p>

<%= link_to "Varify your address", password_reset_confirmation_url(id: @user.reset_token, email_num: @user.email_num) %>
