<%= render 'shared/user_header' %>

<div id="two-columns" class="follow-page">
  <div id="columns-left">
    <%= render 'shared/user_profile' %>

    <%= render 'shared/trends' %>
  </div>

  <div id="columns-right">

    <%= render 'shared/follow_list' %>

  </div>



</div>
