@import "font-awesome";

/*******************************************


                Defaults


*******************************************/

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fcfd;
  * {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 130%;
    color: #6d6d6d;
    padding: 0;
    margin: 0;
  }
}

p {}
a {  text-decoration: none;}
i {}
strong {}
h1 { font-size: 35px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
h4 { font-size: 20px; }
h5 { font-size: 15px; }
h6 { font-size: 10px; }

ul, ol {
  margin: 0;
  padding: 0;
  li {list-style-type: none;}
}

form {
  input {
    border: none;
  }
}

button {
  border: 0;
  background: auto;
}

/*******************************************


                  Sizing


*******************************************/

.layout-static {
  margin: 0 auto;
  width: 900px;
}

.layout-main {
  margin: 0 auto;
  overflow: hidden;
  width: 900px;
}

#two-columns {
  width: 890px;
  margin: 0 auto;
  overflow: hidden;

  #columns-left {
    float: left;
    width: 230px;
  }

  #columns-right {
    float: right;
    width: 660px;
    overflow: hidden;

    #columns-right-left {
      float: left;
      width: 430px;
    }

    #columns-right-right {
      float: right;
      width: 218px;
      margin-left: 12px;
    }
  }
}

@media all and (max-width: 800px) {
  #two-columns {
    width: 684px;
    #columns-left { margin-left: 12px; }
    #columns-right {
      float: right;
      width: 430px;
      margin-right: 12px;

      #columns-right-right { display: none; }
    }
  }
}

/*******************************************


                Components


*******************************************/

.content-box {
  padding: 14px 13px;
  background: #ffffff;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  .content-border {
    border-top: 1px solid #dedede;
    margin: 12px 0;
  }
}

.search-form {
  form {
    input[type=text], input[type=password] {
      border: 1px solid #dedede;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      font-size: 11px;
      padding: 3px 4px;
      &:focus { border-color: #6699ff; }
    }
    span {
      padding: 3px 5px 4px 5px;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      border-right: 1px solid #dedede;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      font-size: 10px;
    }
  }
}

.global-nav {
  background-color: #f8fcfd;
  border-bottom: 1px solid #e1e8ed;
  ul {
    li {
      a, .dropdown {
        display: block;
        padding: 12px 14px;
        border-bottom: 3px solid #f8fcfd;
        &:hover {
          cursor: pointer;
          border-color: #008484;
          transition: border-color 0.3s;
        }
      }
    }
    .compact-icon { display: none; }
    .non-drop-list {
      li { display: inline-block; }
      .search-form {

        form {
          input[type=text], input[type=password] {  }
          span {  }
        }
      }
    }
  }
}

.drop-menu {
  ul {
    border: 1px solid #dedede;
    background-color: #f8fcfd;
    border-radius: 7px;
    overflow-x: visible;

    margin: 7px 12px 0 0;
    float: right;
    li:first-child { margin-top: 10px; }
    li:last-child { margin-bottom: 10px; }
    .drop-border {
      border-top: 1px solid #dedede;
      margin: 8px 0;
    }
    a {
      font-size: 10px;
      display: block;
      &:hover {
        background: #008484;
        color: #f8fcfd;
      }
    }

    .search-form {
          margin: 0 8px;
          display: inline-block;
      form {
        input[type=text], input[type=password] {
          float: left;
          width: 88px;
          box-sizing: border-box;
        }
        span { float: left; }
      }
    }
  }


}


@media all and (max-width: 800px) {
  .global-nav {
    ul {
      .compact-icon { display: block; }
      .fa-twitter { color: #6699ff; }
    }
    .non-drop-list { display: none; }
  }
}

.sign-form {
  form {
    input[type=text], input[type=password] {
      border: 1px solid #dedede;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 12px;
      display: inline;
      width: 100%;
      padding: 5px 4px;
      margin-bottom: 12px;

      &:focus { border-color: #6699ff; }
    }
    span { font-size: 10px; }
  }
}

.btn {
  color: #ffffff;
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  border-color: #2e6da4;
  background-color: #337ab7;
  &:hover {
    background-color: #2e6da4;
  }
}
.btn-success {
  border-color: #4cae4c;
  background-color: #5cb85c;
  &:hover {
    background-color: #4cae4c;
  }
}
.btn-info {
  border-color: #46b8da;
  background-color: #5bc0de;
  &:hover {
    background-color: #46b8da;
  }
}
.btn-warning {
  border-color: #eea236;
  background-color: #f0ad4e;
  &:hover {
    background-color: #eea236;
  }
}
.btn-danger {
  border-color: #d43f3a;
  background-color: #d9534f;
  &:hover {
    background-color: #d43f3a;
  }
}


/*******************************************


                  Flash


*******************************************/

#flash {
    display: block;
    text-align: center;
    border-radius: 6px;
    opacity: 0.6;
    max-width: 50%;
    margin: 0 auto;
    position: relative;
    p {
      display: block;
      padding: 12px;
    }
    span {
      position: absolute;
      top: 4px;
      right: 7px;
      &:hover { cursor: pointer; }
    }
}

.flash-success {
    background-color: #dff0d8;
    p { color: #3c763d; }
  }
.flash-info {
    background-color: #d9edf7;
    p { color: #31708f; }
  }
.flash-warning {
    background-color: #fcf8e3;
    p { color: #8a6d3b; }
  }
.flash-danger {
    background-color: #f2dede;
    p { color: #a94442; }
  }

/*******************************************


                  Layout


*******************************************/

#header {
  position: fixed;
  width: 100%;
  top: 0;
  #header-nav {
    overflow: hidden;
    #pull-left {
      float: left;
      margin-left: 10%;
    }
    #pull-right {
      float: right;
      margin-right: 10%;
    }
  }
}

#layout-menu {
  display: none;
  ul {
    width: 125px;
    a { padding: 12px 14px; }
  }
}


@media all and (max-width: 800px) {
  #layout-menu {
    display: block;
    ul { display: none; }
  }
}

#contents {
  margin-top: 30px;
  height: 100%;
}

/*******************************************


                  Errors


*******************************************/

#error-explanation {
  #error-alert {
    background: #ffcccc;
    border-radius: 6px;
    margin-bottom: 15px;
    p {
      color: #ff0000;
      padding: 12px;
    }
  }
  ul {
    li {
      margin-bottom: 10px;
      color: #ff0000;
    }
  }
}

.debug {
  max-width: 70%;
  background: #d3d3d3;
  padding: 10px 25px;
  margin: 30px auto;
  border: 1px solid #888888;
}

/*******************************************


                Static_pages


*******************************************/

#login {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  p, h1, a, li { color: #e3e3e3; }

  #login-layout {
    width: 650px;
    height: 450px;
    overflow: hidden;
    padding: 45px 0;
    section {
      float: left;
      width: 350px;
      p { font-size: 16px; }
    }
    aside {
      float: right;
      margin-top: 18px;
      width: 230px;
      .sign-form { margin-bottom: 18px; }
      .btn { float: right; }
      a {
        font-size: 12px;
        color: #6699ff;
      }
    }
  }

  footer {
    width: 650px;
    padding-bottom: 35px;
    margin: 0 auto;
    text-align: center;
    li {
      display: inline-block;
      a {
        margin-right: 6px;
        &:hover { text-decoration: underline; }
      }
      &:last-child{ font-size: 10px; }
    }
  }
}

#about, #help {
  header, section, footer {
    margin: 0 auto;
    .twitter-icon {
      font-size: 70px;
      color: #6699ff;
      margin-bottom: 8px;
    }

  }
  header, footer {
    text-align: center;
    p { font-size: 18px; }
  }
  header {
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 30px;
    margin: 30px auto;
  }

  footer {
    border-top: 1px solid #bdbdbd;
    padding-top: 30px;
    margin: 30px auto;

    a {
      margin-top: 10px;
      font-size: 15px;
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      padding: 5px 12px;
      display: inline-block;
      &:hover {
        color: #ffffff;
        border-color: #ffffff;
        background-color: #6699ff;
        transition: background-color 0.3s, color 0.3s;
      }
    }
  }
}

#about {
  section {
    padding: 10px 0 390px 21px;
    *{ color: #7a0000; }
  }
}


#help {
  section {
    ul {
      overflow: hidden;
      align: center;
      li {
        width: 152px;
        text-align: center;
        float: left;
        margin-right: 22px;
        padding: 25px 19px;
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        &:first-child { margin-left: 43px; }
        .help-icon {
          font-size: 26px;
          color: #6699ff;
          margin-bottom: 12px;
        }
      }
    }

    p{ font-size: 15px; }
  }
}

/*******************************************


                  users


*******************************************/

#users-index {
  margin-top: 57px;
}

#users-new {
  width: 260px;
  margin: 70px auto;
}
