@import "font-awesome";

/*******************************************


                Defaults


*******************************************/

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fcfd;
  * {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 130%;
    color: #6d6d6d;
    padding: 0;
    margin: 0;
  }
}

p {}
a {  text-decoration: none;}
i {}
strong {}
h1 { font-size: 35px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
h4 { font-size: 20px; }
h5 { font-size: 15px; }
h6 { font-size: 10px; }

ul, ol {
  margin: 0;
  padding: 0;
  li {list-style-type: none;}
}

form {
  input {
    border: none;
  }
}

button {
  border: 0;
  background: auto;
}

/*******************************************


                  Sizing


*******************************************/

.layout-static {
  margin: 0 auto;
  width: 900px;
}

.layout-main {
  margin: 0 auto;
  overflow: hidden;
  width: 900px;
}

@media all and (max-width: 800px) {
  .layout-main { width: 734px; }
}

/*******************************************


                Components


*******************************************/

.content-box {
  padding: 14px 13px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  .content-border {
    border-top: 1px solid #dedede;
    margin: 12px 0;
  }
}

.search-form {
  form {
    input[type=text], input[type=password] {
      border: 1px solid #dedede;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      font-size: 11px;
      padding: 3px 4px;
      &:focus { border-color: #6699ff; }
    }
    span {
      padding: 3px 5px 4px 5px;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      border-right: 1px solid #dedede;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      font-size: 10px;
    }
  }
}

.global-nav {
  background-color: #f8fcfd;
  border-bottom: 1px solid #bdbdbd;
  ul {
    li {
      a, .dropdown {
        display: block;
        padding: 12px 14px;
        border-bottom: 3px solid #f8fcfd;
        &:hover {
          cursor: pointer;
          border-color: #6699ff;
          transition: border-color 0.3s;
        }
      }
    }
    .compact-icon { display: none; }
    .non-drop-list {
      li { display: inline-block; }
      .search-form {

        form {
          input[type=text], input[type=password] {  }
          span {  }
        }
      }
    }
  }
}



.drop-menu {
  display: none;
  ul { display: none; }
}

@media all and (max-width: 800px) {
  .global-nav {
    ul {
      .compact-icon { display: block; }
      .fa-twitter { color: #6699ff; }
    }
    .non-drop-list { display: none; }
  }

  .drop-menu {
    display: block;
    ul {
      border: 1px solid #dedede;
      background-color: #f8fcfd;
      border-radius: 7px;
      overflow-x: visible;
      width: 125px;
      margin: 7px 12px 0 0;
      float: right;
      li:first-child { margin-top: 10px; }
      li:last-child { margin-bottom: 10px; }
      .drop-border {
        border-top: 1px solid #dedede;
        margin: 8px 0;
      }
      a {
        font-size: 10px;
        display: block;
        padding: 8px 12px;
        &:hover {
          background: #6699ff;
          color: #f8fcfd;
        }
      }

      .search-form {
            margin: 0 8px;
            display: inline-block;
        form {
          input[type=text], input[type=password] {
            float: left;
            width: 88px;
            box-sizing: border-box;
          }
          span { float: left; }
        }
      }
    }


  }

}

.sign-form {
  form {
    input[type=text], input[type=password] {
      border: 1px solid #dedede;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 12px;
      display: inline;
      width: 100%;
      padding: 5px 4px;
      margin-bottom: 12px;

      &:focus { border-color: #6699ff; }
    }
    span { font-size: 10px; }
  }
}

.btn {
  color: #ffffff;
  padding: 5px 12px;
  display: inline-block;
  font-size: 12px;
  border: 1px solid;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  border-color: #2e6da4;
  background-color: #337ab7;
  &:hover {
    background-color: #2e6da4;
  }
}
.btn-success {
  border-color: #4cae4c;
  background-color: #5cb85c;
  &:hover {
    background-color: #4cae4c;
  }
}
.btn-info {
  border-color: #46b8da;
  background-color: #5bc0de;
  &:hover {
    background-color: #46b8da;
  }
}
.btn-warning {
  border-color: #eea236;
  background-color: #f0ad4e;
  &:hover {
    background-color: #eea236;
  }
}
.btn-danger {
  border-color: #d43f3a;
  background-color: #d9534f;
  &:hover {
    background-color: #d43f3a;
  }
}


/*******************************************


                  Flash


*******************************************/

#flash {
    display: block;
    text-align: center;
    border-radius: 6px;
    opacity: 0.7;
    max-width: 50%;
    margin: 0 auto;
    &:hover { cursor: pointer; }
    p {
      display: block;
      padding: 12px;
    }
}

.flash-success {
    background-color: #dff0d8;
    p { color: #3c763d; }
  }
.flash-info {
    background-color: #d9edf7;
    p { color: #31708f; }
  }
.flash-warning {
    background-color: #fcf8e3;
    p { color: #8a6d3b; }
  }
.flash-danger {
    background-color: #f2dede;
    p { color: #a94442; }
  }

/*******************************************


                  Layout


*******************************************/

#header {
  position: fixed;
  width: 100%;
  top: 0;
  #header-nav {
    overflow: hidden;
    #pull-left {
      float: left;
      margin-left: 10%;
    }
    #pull-right {
      float: right;
      margin-right: 10%;
    }
  }
}

#contents {
  margin-top: 80px;
  height: 100%;
}

/*******************************************


                  Errors


*******************************************/

#error-explanation {
  #error-alert {
    background: #ffcccc;
    border-radius: 6px;
    margin-bottom: 15px;
    p {
      color: #ff0000;
      padding: 12px;
    }
  }
  ul {
    li {
      margin-bottom: 10px;
      color: #ff0000;
    }
  }
}


.debug {
  max-width: 70%;
  background: #d3d3d3;
  padding: 10px 25px;
  margin: 30px auto;
  border: 1px solid #888888;
}
/*******************************************


                  Users


*******************************************/

#users-new {
  width: 260px;
  margin: 70px auto;
}


/*******************************************


                  Tweets


*******************************************/

#tri-column-left {
  float: left;
  margin-right: 15px;
  #profile {
      width: 190px;
    .profile-background {
      img {
        width: 216px;
        height: 80px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin: -14px -13px;
      }
    }
    .profile-information {
      margin-top: -12px;
      .profile-image {
        img {
          margin-top: -7px 4px 0 0;
          padding: 3px;
          background: #f8fcfd;
          display: inline-block;
          border-radius: 8px;
          width: 54px;
          height: 54px;
        }
        ul {
          display: inline-block;
          margin-top: -7px;
          a{
            font-size: 17px;
            &:hover { text-decoration: underline; }
          }
          p { font-size: 11px; }
        }
      }

    }
    .profile-list {
      margin-top: 8px;
      li {
        display: inline-block;
        margin-right: 14px;
        &:last-child { margin-right: 0; }
      }
    }

    .profile-setting { margin-top: 9px; }
  }

  #trends { display: none; }

}

#tri-column-middle {
  float: left;
  width: 420px;
  margin-right: 15px;

  .post-tweet {
    padding: 7px 0;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
    img {
      display: inline-block;
      float: left;
      width: 42px;
      height: 42px;
      border-radius: 3px;
    }
    .tweet-info {
      float: right;
      width: 369px;
      .tweet-info-title {
        margin-bottom: 2px;
        li {
          display: inline-block;
          font-size: 9px;
        }
        a, p {
          color: #000000;
          font-family: Arial, sans-serif;
        }
        a {
          font-weight: bold;
          font-size: 12px;
          &:hover { text-decoration: underline;}
        }
        p { font-size: 11px; }
      }
      .tweet-info-icons {
        margin-top: 7px;
        li{
          font-size: 13px;
          display: inline-block;
          margin-left: 12px;
          margin-right: 25px;
          &:hover {
            cursor: pointer;
            * { color: #6699ff; }
          }
        }

      }
    }
    &:first-child { padding-top: 0; }
    &:last-child {
      padding-bottom: 0;
      border: 0;
    }
  }

  #tweet-reload {
    text-align: center;
    a {
      padding: 3px 0;
      display: block;
      color: #000545;
      background: #6699ff;
    }
  }
}

.tweet-form {
  padding: 14px 0;
  background: #eef1ff;
  form {
    overflow: hidden;
    .tweet-form-image {
      float: left;
      margin-left: 12px;
      width: 38px;
      height: 38px;
    }
    .tweet-form-info {
      float: right;
      margin-right: 12px;
      textarea {
        width: 340px;
        height: 50px;
        padding: 5px 3px;
        resize: none;
      }
    .tweet-form-info-toolbar {
      margin-top: 7px;
      overflow: hidden;
      .tweet-form-info-toolbar-icons {
        float: left;
        margin: 5px 18px;
        li {
          display: inline-block;
          margin-right: 21px;
          &:hover {
            cursor: pointer;
            * { color: #6699ff; }
          }
        }
      }
      .tweet-form-info-toolbar-submit {
        float: right;
        margin-right: 18px;
        * {
          display: inline-block;
          margin-left: 7px;
        }
      }
    }
  }
  }
}

#tri-column-right {
  float: left;
  width: 176px;
}

@media all and (max-width: 800px) {
  #tri-column-left {
    margin-left: 26px;;
    #trends {
      width: 190px;
      display: block;
      margin-top: 10px;
    }
  }
  #tri-column-right { display: none; }
}

/*******************************************


                  Tweets


*******************************************/

#twin-column-left {
  float: left;
  margin-right: 15px;
  #profile {
      width: 190px;
    .profile-background {
      img {
        width: 216px;
        height: 80px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin: -14px -13px;
      }
    }
    .profile-information {
      margin-top: -12px;
      .profile-image {
        img {
          margin-top: -7px 4px 0 0;
          padding: 3px;
          background: #f8fcfd;
          display: inline-block;
          border-radius: 8px;
          width: 54px;
          height: 54px;
        }
        ul {
          display: inline-block;
          margin-top: -7px;
          a{
            font-size: 17px;
            &:hover { text-decoration: underline; }
          }
          p { font-size: 11px; }
        }
      }

    }
    .profile-list {
      margin-top: 8px;
      li {
        display: inline-block;
        margin-right: 14px;
        &:last-child { margin-right: 0; }
      }
    }

    .profile-setting { margin-top: 9px; }
  }

  #trends { display: none; }

}

#twin-column-right {
  float: left;
  width: 667px;

  .follow-profile {
      width: 168px;
      margin: 12px 0 0 13px;
      display: inline-block;
    .profile-background {
      img {
        width: 194px;
        height: 80px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin: -14px -13px;
      }
    }
    .profile-information {
      margin-top: -12px;
      margin-bottom: 10px;
      position: relative;
      .profile-image {
        img {
          margin-top: -7px 4px 0 0;
          padding: 3px;
          background: #f8fcfd;
          display: inline-block;
          border-radius: 8px;
          width: 47px;
          height: 47px;
        }
      }
      .profile-follow {
        position: absolute;
        top: 28px;
        right: 13px;
        float: left;
      }

    }
    .profile-description {
      ul {
        display: inline-block;
        margin-top: -7px;
        a{
          font-size: 17px;
          &:hover { text-decoration: underline; }
        }
        p {
          margin-top: 0;
          font-size: 11px;
        }
      }
      p { margin-top: 6px; }
    }
    .profile-list {
      margin-top: 8px;
      li {
        display: inline-block;
        margin-right: 14px;
        &:last-child { margin-right: 0; }
      }
    }

    .profile-setting { margin-top: 9px; }
  }

  #tweet-reload {
    text-align: center;
    a {
      padding: 3px 0;
      display: block;
      color: #000545;
      background: #6699ff;
    }
  }
}

@media all and (max-width: 800px) {
}
